<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>D3 Sample</title>
</head>
<body>

<!-- This will serve as a container for our chart. This does not have to be a div, and can in fact, just be the body if you want. -->
<div id="chart"></div>

<script type="text/javascript">
<!-- average_speed -->
var average_speed_array = {{ datar|tojson }}
</script>

<!-- Include d3.js from a CDN. -->
<script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.js') }}"></script>

<!-- Include our script that will make our bar chart. -->
<script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
</body>
</html>
